# Introducción a Pandas

In [ ]:
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

### Working with a first dataframe

In [ ]:
names = ['Juan', 'Pedro', 'María', 'Paula', 'Diego', 'Andrea', 'Diana']
ages = [22, 24, 32, 19, 52, 45, 61]

In [ ]:
persons = list(zip(names, ages))
persons

In [ ]:
# Creating the dataframe
persons_df = pd.DataFrame(data = persons, columns = ["Name", "Age"])
persons_df

In [ ]:
# Writing CSV
persons_df.to_csv("./data/persons.csv", index = False)

In [ ]:
# Reading CSV
persons_df = pd.read_csv("./data/persons.csv")

In [ ]:
persons_df

In [ ]:
# If dataframe has too many rows, you can print only the first records
# You can also use the tail() function to print the last records
persons_df.head()

In [ ]:
# Column data types
persons_df.dtypes

In [ ]:
# Get the greatest age
persons_df_sorted = persons_df.sort_values("Age", ascending = False)
persons_df_sorted.head(1)

In [ ]:
# Get the greatest age, a better method
persons_df["Age"].max()

In [ ]:
# Creating a chart for visualizing ages
plt.figure(figsize = (15, 8))
plt.bar(persons_df["Name"], persons_df["Age"])

### Experiment with a different dataframe

In [ ]:
got_df = pd.read_csv("./data/got.csv")

In [ ]:
got_df.head()

In [ ]:
# Trying with a different chart for age
plt.figure(figsize = (15, 8))
got_df["age"].hist(bins = 30)

In [ ]:
# Getting unique values for a column
got_df["house"].unique()

<span style="color:red">Q1: How many houses there are?</span>

In [ ]:
# Counting records by house
got_df.groupby(["house"]).agg("count")["name"]

<span style="color:red">Q2: Which is the house with more characters?</span>

<span style="color:red">Q3: Which are the 5 houses with more characters?</span>

<span style="color:red">Q4: Which are the 5 oldest characters?</span>

<span style="color:red">Q5: How many characters have 100 years?</span>

<span style="color:red">Q6: How is distribuited characters older than 80 by house?</span>

In [ ]:
got_df["name_upper"] = got_df["name"].apply(lambda x: x.upper())

In [ ]:
got_df.head()

<span style="color:red">Q7: Which are the characters with the largest names?</span>

### Experimenting with a third dataset

In [ ]:
chipo_df = pd.read_csv("./data/chipotle.tsv", sep = '\t')

In [ ]:
chipo_df.dtypes

<span style="color:red">Q8: Print first 10 records</span>

<span style="color:red">Q9: How many records and columns has the dataset?</span>

In [ ]:
chipo_df.columns

<span style="color:red">Q10: Which is the most ordered item?</span>

<span style="color:red">Q11: How many items were ordered in total?</span>

<span style="color:red">Q12: Transforming pice to float</span>

In [ ]:
chipo_df.dtypes

In [ ]:
chipo_df.head()

<span style="color:red">Q13: What is the total revenue reported in the dataset?</span>

<span style="color:red">Q14: How many orders were placed?</span>

<span style="color:red">Q15: What is the average quantity by order?</span>

<span style="color:red">Q16: How many different items were sold?</span>

### Working with more datasets

In [ ]:
euro = pd.read_csv("./data/euro.csv")
euro.head(5)

In [ ]:
# Filtrar por columnas

disciplina = euro[['Team', 'Yellow Cards', 'Red Cards']]
disciplina.head(5)

In [ ]:
# Ordenar registros primero por tarjetas rojas y luego por tarjetas amarillas

disciplina.sort_values(['Red Cards', 'Yellow Cards'], ascending = False)

<span style="color:red">Q17: Which teams score more than 3?</span>

<span style="color:red">Q18: Which team names start with 'G'?</span>

<span style="color:red">Q19: Present only the name and precision for England, Italy and Russia</span>

### More aggregations with syntethic data

In [ ]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

In [ ]:
regiment = pd.DataFrame(raw_data, columns = raw_data.keys())
regiment

In [ ]:
regiment.describe()

In [ ]:
# Estadísticas generales por compañía

regiment.groupby('company').describe()

In [ ]:
# Media de preTestScores agrupados por regimiento y compañía

regiment.groupby(['regiment', 'company']).preTestScore.mean()

In [ ]:
# Media de preTestScores agrupados por regimiento y compañía 
# sin índice jerárquico

regiment.groupby(['regiment', 'company']).preTestScore.mean().unstack()

### Unions / Merges / Joins

In [ ]:
raw_data_1 = {
        'subject_id': ['1', '2', '3', '4', '5'],
        'first_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'], 
        'last_name': ['Anderson', 'Ackerman', 'Ali', 'Aoni', 'Atiches']}

raw_data_2 = {
        'subject_id': ['4', '5', '6', '7', '8'],
        'first_name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'], 
        'last_name': ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan']}

raw_data_3 = {
        'subject_id': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'],
        'test_id': [51, 15, 15, 61, 16, 14, 15, 1, 61, 16]}

In [ ]:
data1 = pd.DataFrame(raw_data_1, columns = ['subject_id', 'first_name', 'last_name'])
data2 = pd.DataFrame(raw_data_2, columns = ['subject_id', 'first_name', 'last_name'])

In [ ]:
data1

In [ ]:
data2

In [ ]:
# Unión de dataframes por filas

all_data = pd.concat([data1, data2])
all_data

In [ ]:
# Unión de dataframes por columnas (inner)

pd.merge(data1, data2, on='subject_id', how='inner')

In [ ]:
# Unión de dataframes por columnas (outer)

pd.merge(data1, data2, on='subject_id', how='outer')